<%= stylesheet_link_tag "sessions" %>


<div class = "center-item" >

    <%= form_with model: @user, local: true do |form| %>
        <div class='mb-3'>
            <%= form.label :email %>
            <%= form.email_field :email, class: "form-control",  placeholder: "abc@gmail.com"%>
        </div>

        <div class='mb-3'>
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password"%>
        </div> 

        <div class='mb-3'>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
        </div>

        <div class='mb-3'>
            <%= form.submit 'Sign Up', class: "btn btn-primary"%> 
        </div>

    <% end %>

</div>
