<div data-controller="calendar">
    <!-- Modal -->
    <%= content_tag :div, class: 'modal', data: { target: 'calendar.modal' } do %>
        <div class ="modal-dialog" role = "document">
            <div class ="modal-content">
                <%= form_with model: Event.new, local: true do |form|%>
                    <div class ="modal-header">
                        <h5 class = "modal-title">Create Event</h5>
                    </div>
                    <div class = "modal-body">
                        <div class="mb-3">
                            <%= form.label :all_day %>
                            <%= form.check_box :all_day , class: "form-check"%>
                        </div>

                        <div class="mb-3">
                            <%= form.label :start_time %>
                            <%= form.datetime_select :start_time , class: "form-control", data: {target: 'calendar.start_time'}%>
                        </div>

                        <div class="mb-3">
                            <%= form.label :end_time %>
                            <%= form.datetime_select :end_time, class: "form-control",data: {target: 'calendar.end_time'}%>
                        </div>

                        <div class="mb-3">
                            <%= form.label :title %>
                            <%= form.text_field :title, class: "form-control"%>
                        </div>
                    </div>
                    <div class = "modal-footer">
                        <%= link_to "Cancel", root_path, {:class=>"btn btn-danger"} %>
                        <%= form.submit class: 'btn btn-primary'%>
                    </div>
                <%end%>
            </div>
        </div>
    <%end%>
    <div data-calendar-target="calendar"></div>
</div>
