<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :all_day %>
    <%= form.check_box :all_day , class: "form-check"%>
  </div>

  <div class="mb-3">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time , class: "form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time , class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title , class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Edit event' , class: "btn btn-primary" %>
  </div>
<% end %>
