<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">All day</th>
      <th scope="col">Start time</th>
      <th scope="col">End time</th>
      <th scope="col">Title</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr scope= "row">
        <td><%= event.all_day %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.title %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event), data: {action: 'click->modal#open'} %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: "btn btn-primary"%>
